.App {
  text-align: center;
}

.Container1 {
  width: 50vw;
  background-color: blue;
  /* height: 100vh; */
  border: 1px solid black;
}
.Container2 {
  width: 50vw;
  background-color: green;
  border: 1px solid black;
}

.Card {
  width: 200px;
  background-color: red;
}

.cols {
  display: flex;
  flex-direction: row;
}
